{{ .Section }}
<div class="post-info">
    {{- if or .Params.Author .Site.Params.Author }}
        <span>{{ i18n "writtenBy" }}</span>
        {{- if .Params.Author }}
            {{ .Params.Author }}
        {{- else if .Site.Params.Author }}
            {{ .Site.Params.Author }}
        {{- end }}
    {{- end }}

    {{- if .PublishDate }}
        <br>        
        <span class="catalogue-time">{{ i18n "published" }}&nbsp;{{ i18n "on" }}&nbsp;</span><time {{ printf "datetime=\"%s\"" (.PublishDate.Format "2006-01-02T15:04:05Z07:00" ) | safeHTMLAttr }}>{{ i18n "publishdate" . }}</time>
    {{- end }}

    {{- if ne .Lastmod .PublishDate }}
        <br>
        <!-- {{ .Params.Update }} -->
        <span>{{ i18n "updated" }}&nbsp;{{ i18n "on" }}&nbsp;</span><time datetime="{{ .Lastmod }}">{{ i18n "updatedate" . }}</time>
    {{- end }}    
</div>