<div class="post-info">
    <span>{{ i18n "writtenBy" }}</span>
    {{- if .Params.Author }}
        {{ .Params.Author }}
    {{- else }}
        {{ .Site.Params.Author }}
    {{- end }}

    {{- if .PublishDate }}
        <br>
        <span>{{ i18n "published" }}&nbsp;{{ i18n "on" }}&nbsp;</span><time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
    {{- end }}

    {{- if ne .Lastmod .PublishDate }}
        <br>
        <!-- {{ .Params.Update }} -->
        <span>{{ i18n "updated" }}&nbsp;{{ i18n "on" }}&nbsp;</span><time datetime="{{ .Lastmod }}">{{ i18n "updatedate" . }}</time>
    {{- end }}
</div>