<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <body class="bg-gray">
        <div id="holy" class="container-lg bg-white h-100">
            <div id="header" class="px-1 bg-white">              
                {{ partial "header.html" . }}
            </div>

            <div role="main" id="main" class="holy-main markdown-body px-4 bg-white">
                {{ block "main" . }}{{ end }}
            </div>

            <div id="side" class="pr-1 bg-white">
                <aside class="pr-3">
                  {{ block "side" . }}
                  <div id="toc" class="mb-3">
                  </div>
                  {{ end }}
                </aside>
            </div>

            <div id="footer" class="pt-2 pb-3 bg-white text-center">
                {{ partial "footer.html" . }}
            </div>
        </div>
    </body>
</html>
