{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/title.html" . }}
		{{ partial "single/post-info.html" . }}
		
		{{ partial "single/header.html" . }}

		{{ .Content }}

		{{ partial "single/footer.html" . }}
	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top">Top</a>
	</div>
</main>

{{ end }}

{{ define "side" }}
  {{ if and (gt .WordCount 0 ) (ne .Params.toc "false") }}
    <div id="toc" class="Box Box--blue mb-3">
      <b>{{ .Title }}</b>
      {{- $toc := .TableOfContents -}}
      {{- $toc := replaceRE `<nav id="TableOfContents">\n<ul>\n<li>\n<ul>` `<nav id="TableOfContents"><ul>` $toc -}}
      {{- $toc := replaceRE `</ul>\n</li>\n</ul>\n</nav>` `</ul>\n</nav>` $toc -}}
      {{- safeHTML $toc -}}
    </div>
  {{ end }}
{{ end }}