
<div class="catalogue-item">    
    {{- if .Params.Directlink }}
    <span class="">
        <a href="{{ .Params.Directlink }}" target="_blank"><h1 class="catalogue-title">{{- if .Params.Draft }}[[Draft]]{{- end }}{{ .Title }}</h1></a>
        <a href="{{ .Permalink }}" title="permalink">&#128279;</a>
    </span>
    <br />
    {{- else }}
    <a href="{{ .Permalink }}" ><h1 class="catalogue-title">{{- if .Params.Draft }}[[Draft]]{{- end }}{{ .Title }}</h1></a>
    {{- end }}
    <span class="catalogue-time">{{ i18n "published" }}&nbsp;{{ i18n "on" }}&nbsp;</span><time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
    {{- if ne .Lastmod .PublishDate}}
        <br>
        <!-- {{ .Params.Update }} -->
        <span class="catalogue-time">{{ i18n "updated" }}&nbsp;{{ i18n "on" }}&nbsp;</span><time datetime="{{ .Lastmod }}" class="catalogue-time">{{ i18n "updatedate" . }}</time>
    {{- end }}
    <p>
        {{- if or .Truncated .Params.summary }}
            {{ .Summary }}
            {{ if .Truncated }}
                <div>
                    <p><a href="{{ .Permalink }}">... [Read&nbsp;More]</a></p>
                </div>
            {{ end }}
        {{- else }}
            <p>{{ .Content }}</p>                
        {{- end }}
    </p>
</div>
