<div class="flex-item header-left">	
	<h2 class="site-logo">
		<a href="{{ "/" | absLangURL }}">
				<div class="site-logo-img"><img src="{{ "images/ab-logo.svg" | relURL }}" alt="André Bering Logo" /></div>
				<div class="site-logo-text">{{ .Site.Title }}</div>
		</a>
	</h2>
</div>
<div class="flex-item header-right">
	<nav>
		<ul>
			<li>
				<a href="{{ "about" | absLangURL }}">{{ i18n "about" }}</a>
			</li>
			<li>
				<a href="{{ "/" | absLangURL }}">{{ i18n "posts" }}</a>
			</li>
		</ul>
	</nav>
</div>