.header-right {    
    border: 1px solid green;
}

nav ul li {
    border: 1px solid purple;
}

.site-logo {
    border: 1px solid green;
}

.site-logo-text {    
    border: 1px solid black;    
}

.site-logo-span {
    border: 1px solid red;
}

#header .site-logo-img {
    border: 1px solid blue;
}