/* custom css here */
* {
    box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}



.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

.h-100 {
  height: 100%;
}

#holy {
  display: grid;
  /* auto: as wide as its content
   * fr: all available space */
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main side"
    "footer side";
}

.px-1 {
    padding-right: 4px !important;
    padding-left: 4px !important;
}

#header {
  grid-area: header;
}
#main {
  grid-area: main;
  max-width: 782px;
}
#side {
  grid-area: side;
  width: 230px;
}
#footer {
  grid-area: footer;
}
aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: block;
  overflow-y: auto;
}

/* Menu */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.dropdown-content:hover {
  visibility: visible;
  opacity: 1;
}
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  top: 55px;
  right: 0;
  white-space: nowrap;
  min-width: 160px;
  z-index: 1;
}

/* TOC */
#toc {
  margin-top: 1.5rem;
  padding: 0.7rem;
}
#toc * {
  list-style: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#toc ul {
  padding-left: 0.8rem;
}
#toc li {
  margin-top: 0.3rem;
}

@media screen and (max-width: 1012px) {
  #holy {
    display: block;
  }
  #header {
  }
  #main {
    max-width: 1012px;
  }
  #side {
    display: none;
  }
}

.UnderlineNav li {
  transition: all 0.2s ease-out;
  color: #555;
  display: inline-block;
  opacity: .6;
  padding: 0 2rem 0 0;
}

.Subhead-heading {
  color: #353535;
  display: block;
  font-family: "Biryani","Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  // font-size: 2rem;
  font-size: 24px;
  font-weight: 700;
  margin: .5rem 0;
}

.Subhead-description {
  color: #aaa;
  font-family: "Biryani","Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  letter-spacing: .5px;
}

 section.pb-6.mb-3.border-bottom pre>code {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 9.5px;
  display: block;
  overflow-x: hidden;
  overflow-x: scroll;
}

.catalogue-item > a > h1{
  font-size: 1.5em;
}

.catalogue-item > h2{
  font-size: 1.3em;
}

.catalogue-time {
  color: #aaa;
  letter-spacing: .5px;
}

.post-divider {
  width: 50%; 
  margin: 0 auto; 
  margin-top: 25px; 
  margin-bottom: 25px;
}

.catalogue-item {
  
}