.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.px-4 {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.bg-gray {
    background-color: #f6f8fa !important;
}

.bg-white {
    background-color: #fff !important;
}

.UnderlineNav--right {
    justify-content: flex-end;
}

.UnderlineNav--right .UnderlineNav-actions {
    flex: 1 1 auto;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600 !important;
}

@media (min-width: 768px) {
    .h2 {
        font-size: 24px !important;
    }
}

a {
    color: #0366d6;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.muted-link {
    color: #586069 !important;
}

.UnderlineNav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e4e8;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}

.markdown-body {
    font-family: "Biryani","Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.text-center {
    text-align: center !important;
}

.pb-3 {
    padding-bottom: 16px !important;
}

.pt-2 {
    padding-top: 8px !important;
}

.pb-6 {
    padding-bottom: 40px !important;
}

.mb-3 {
    margin-bottom: 16px !important;
}

.border-bottom {
    border-bottom: 1px #e1e4e8 solid !important;
}

.Box {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

.Box--blue {
    border-color: #c8e1ff;
}

.pr-3 {
    padding-right: 16px !important;
}

.paginate-container {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.paginate-container .pagination {
    display: inline-block;
}

.pagination a:first-child, .pagination span:first-child, .pagination em:first-child {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination .gap, .pagination .disabled, .pagination .gap:hover, .pagination .disabled:hover {
    color: #d1d5da;
    cursor: default;
    background-color: #fafbfc;
}

.pagination a, .pagination span, .pagination em {
    position: relative;
    float: left;
    padding: 7px 12px;
    margin-left: -1px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: #0366d6;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    border: 1px solid #e1e4e8;
}

.markdown-body ul, .markdown-body ol {
    padding-left: 2em;
}

.pagination a:last-child, .pagination span:last-child, .pagination em:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}